.App {
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, #1A4A1C, #308834 600px);
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
}

.playing_table {
  width: 226px;
  margin: 30px auto 0 auto;
}